[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "*"
sqlalchemy = "*"
uvicorn = "*"
jinja2 = "*"
python-multipart = "*"
aiofiles = "*"

[requires]
python_version = "3.9"
