{% extends "layout.html" %}
{% block content %}
<br>
<h4>マイリポジトリ</h4>
<hr>
<div class="row">
    <div class="col-sm-1 text-center" >
        ID
    </div>
    <div class="col-sm-11">
        : {{ id }}
    </div>
    <div class="col-sm-1 text-center" >
        作者名
    </div>
    <div class="col-sm-11">
        : {{ username }}
    </div>
</div>
<br>
<div class="container-sm">
    {% for repo in repository %}
    <div class="border border-dark rounded per-repos">
        <p class="fs-4 fw-bold">{{ repo }}</p>
        <hr>
        <p>description or README.</p>
    </div>
    <br>
    {% endfor %}
</div>
{% endblock %}