{% extends "layout.html" %}
{% block content %}
<br>
<h4>{{ repository }}{% if subdir %}/{{ subdir }}{% endif %}</h4>
<hr>
<br>
<div class="container-sm">
    <div class="border border-dark rounded per-repos row fs-3">
        {% for dir in target_dirs %}
        {% if subdir %}
        <a href="/{{ user_id }}/{{ repository }}?subdir={{subdir}}/{{ dir }}">フォルダ: {{ dir }}</a>
        {% else %}
        <a href="/{{ user_id }}/{{ repository }}?subdir={{ dir }}">フォルダ: {{ dir }}</a>
        {% endif %}
        {% endfor %}
        {% for file in target_files %}
        {% if subdir %}
        <a href="/{{ user_id }}/{{ repository }}?subdir={{subdir}}&file={{ file }}">ファイル: {{ file }}</a>
        {% else %}
        <a href="/{{ user_id }}/{{ repository }}?file={{ file }}">ファイル: {{ file }}</a>
        {% endif %}
        {% endfor %}
    </div>
    <br>
</div>
{% endblock %}