{% extends "layout.html" %}
{% block content %}
<br>
<h4>{{ repository }}{% if subdir %}/{{ subdir }}{% endif %}</h4>
<hr>
<br>
<div class="container-sm">
    <div class="border border-dark rounded per-repos row fs-3">
        {% for dir in target_dirs %}
        <a href="/{{ user_id }}/{{ repository }}?subdir={% if subdir %}{{subdir}}/{% endif %}{{ dir }}">フォルダ: {{ dir }}</a>
        {% endfor %}
        {% for file in target_files %}
        <a href="/{{ user_id }}/{{ repository }}?{% if subdir %}subdir={{subdir}}&{% endif %}file={{ file }}">ファイル: {{ file }}</a>
        {% endfor %}
    </div>
    <br>
</div>
{% endblock %}